button {
    background-color: black;
    color: rgb(156, 16, 16);
    border: 5px solid rgb(156, 16, 16);
    font-size: 1.5em;
    border-radius: 10px; 
}

.container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#buttons {
    position: absolute;
    top: 10;   
}

#game {
    position: relative;
    /* background-color: black; */
    border: 5px solid rgb(156, 16, 16);
    border-radius: 10px; 
    background-image: url(images/pacmanbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    

}